.chat-page {
  display: flex;
  height: calc(100vh - 70px);
  background: #f7f8fc;

  .empty-chat {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
  }
}
