.chat-page {
  display: flex;
  height: calc(100vh - 70px);
  background: #f5f7fb;
  overflow: hidden;

  .empty-chat {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
  }

  .sidebar-wrapper {
    width: 300px;
    transition: transform 0.3s ease-in-out;
    border-right: 1px solid #e6e6e6;
    background: #fff;

    &.hidden {
      transform: translateX(-100%);
    }
  }

  .chat-wrapper {
    flex: 1;
    transition: transform 0.3s ease-in-out;
    background: #f5f7fb;

    &.hidden {
      transform: translateX(100%);
    }
  }
}


@media (max-width: 768px) {
  .chat-page {
    position: relative;

    .sidebar-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .chat-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #f5f7fb;
      z-index: 3;
    }

    .hidden {
      display: none;
    }
  }
}
